{% extends 'base.html' %}
{% block content %}


    <div id="main-container" class="container clearfix">
        <section class="post-left">
                <div class="breadcrumb">您的位置： <a itemprop="breadcrumb" href="/">标签</a> »
                <span class="current">
                    {{ Tag }}
                </span>
                </div>
                <div class="index-main clearfix">
                <div class="main-title">
                    <h4 class="post-left-title">
                        标签：{{ Tag }}
                    </h4>
                </div>

                <!-- 文章列表 -->
                <div class="row">
                        {% for article in wenzhang %}
                        <div class="article-box clearfix excerpt-1">
                            <div class="col-md-4">
                                <div class="thumbnail">
                                    <a href="/show-{{ article.id }}.html" title="{{ article.title }}">
                                        <img src="/media/{{ article.img }}"
                                             srcset="/media/{{ article.img }}"
                                             alt="{{ article.title }}" class="wp-post-image" width="240" height="160"/></a>
                                </div>
                            </div>


                            <div class="col-md-8">
                                <!-- 文章名字 -->
                                <h2>
                                    <a href="/show-{{ article.id }}.html" target="_blank" title="{{ article.title }}">{{ article.title }}</a>
                                </h2>
                                <!-- /文章名字 -->

                                <!-- 文章摘要 -->
                                <p class="txtcont hidden-xs">
                                    <a href="/show-{{ article.id }}.html" target="_blank" title="{{ article.title }}">{{ article.excerpt }}</a>
                                </p>
                                <!-- /文章摘要 -->

                                <!-- 修改时间 -->
                                <div class="meta">
                                    <time class="item"><i class="fa fa-clock-o"></i>{{ article.modified_time}}</time>
                                </div>
                                <!-- /修改时间 -->
                            </div>
                        </div>
                        {% endfor %}
                </div>
                <!-- /文章列表 -->
                <div class="pagination">
                            <ul>
                                {% if wenzhang.has_previous %}
                                    <li class="prev-page">
                                        <a href="?page={{ wenzhang.previous_page_number }}">上一页</a>
                                    </li>
                                {% else %}
                                    <li class="prev-page"></li>
                                {% endif %}
                                    {% for num in wenzhang.paginator.page_range %}
                                        {% if num %}
                                            {% ifequal num wenzhang.number %}
                                                <li class="active">
                                                    <span>{{ num }}</span>
                                                </li>
                                            {% else %}
                                                <li><a href="?page={{ num }}">{{ num }}</a></li>
                                            {% endifequal %}
                                        {% else %}
                                            <li class="disabled">
                                                <span>...</span>
                                            </li>
                                        {% endif %}
                                    {% endfor %}


                                    {% if wenzhang.has_next %}
                                        <li class="next-page">
                                            <a href="?page={{ wenzhang.next_page_number }}">下一页</a>
                                        </li>
                                    {% else %}
                                        <li class="prev-page"></li>
                                    {% endif %}
                            </ul>
                        </div>
        </section>

        {% include 'cebian.html' %}


    </div>
    {% endblock %}

